*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
min-height:100vh;
background:linear-gradient(
135deg,
#050816,
#0a0f2c,
#14062e
);
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
border-bottom:1px solid rgba(255,255,255,0.1);
}

.logo{
font-size:24px;
font-weight:bold;
color:#00f7ff;
}

.nav-links a{
color:white;
text-decoration:none;
margin-left:25px;
font-size:18px;
}

.nav-links a:hover{
color:#00f7ff;
}

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:5rem;
margin-bottom:20px;

background:linear-gradient(
90deg,
#00f7ff,
#ff00ff
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.hero p{
font-size:1.4rem;
color:#cbd5e1;
margin-bottom:40px;
}

.hero-buttons{
display:flex;
gap:20px;
}

.btn{
display:inline-block;
padding:15px 30px;
border-radius:12px;
text-decoration:none;
font-weight:bold;
color:white;

background:linear-gradient(
90deg,
#007cf0,
#00dfd8
);

transition:0.3s;
}

.btn:hover{
transform:translateY(-5px);
box-shadow:0 0 20px #00f7ff;
}

.container{
width:90%;
max-width:1200px;
margin:auto;
padding:40px 0;
}

.card{
background:rgba(255,255,255,0.05);
padding:30px;
border-radius:20px;
backdrop-filter:blur(10px);
box-shadow:0 0 20px rgba(0,255,255,0.2);
}

h2{
text-align:center;
margin-bottom:20px;
color:#00f7ff;
}

input{
width:100%;
padding:14px;
margin-bottom:20px;
border:none;
border-radius:10px;
background:rgba(255,255,255,0.08);
color:white;
}

button{
width:100%;
padding:14px;
border:none;
border-radius:10px;
cursor:pointer;

background:linear-gradient(
90deg,
#00c6ff,
#7f00ff
);

color:white;
}

button:hover{
box-shadow:
0 0 20px #00f7ff,
0 0 30px #ff00ff;
}

.home-btn{
display:inline-block;
padding:10px 20px;
border-radius:10px;
text-decoration:none;
color:white;
margin-bottom:20px;

background:linear-gradient(
90deg,
#ff00ff,
#7f00ff
);
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th{
background:#6d28d9;
padding:15px;
}

td{
padding:15px;
background:rgba(255,255,255,0.05);
text-align:center;
}

tr:hover{
background:rgba(255,255,255,0.1);
}