<body>
<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
<nav class="navbar">

<div class="logo">
🎓 Student Performance Tracker
</div>

<div class="nav-links">
<a href="/">Home</a>
<a href="/add_student">Add Student</a>
<a href="/add_grade">Add Grades</a>
<a href="/students">View Students</a>
</div>

</nav>

<div class="hero">

<h1>Student Performance Tracker</h1>

<p>
Track, Analyze and Improve Student Performance
</p>

<div class="hero-buttons">

<a href="/add_student" class="btn">
➕ Add Student
</a>

<a href="/add_grade" class="btn">
📝 Add Grades
</a>

<a href="/students" class="btn">
👨‍🎓 View Students
</a>

</div>

</div>

</body>